body {
    text-align: center;
    padding-top: 750px;
    padding-left: 50px;
    padding-right:50px;

}

.profile {
    margin-top: 20px;
    width: 1000px;
}

#welcome {

    position: absolute;
    height: 200px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 50%;
    z-index: 9
}

.line {
    height: 6px;
    background-color: #000;
    width: 300px;
    margin: 8px auto;
}

.parallax-inner {

    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}

.menu {
    position: fixed;
    top: 0px;
    margin-top: 0px;
    width: 100%;
    z-index: 10;
    font-size: 35px;
    background-color: bisque;
}

.links {
    display: inline;
    color: #fff;
    padding-left: 33px;
    padding-right: 25px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}


.links:hover {
    background-color: lightpink;
}

img {
    width: 500px;
}

iframe {
    width: 500px;
    height: 200px;
}

h1 {
    color:brown;
    font-size:  15px;
    font-family: 'Dancing Script', cursive;
}
h2 {
    color: crimson;
    font-size: 18px;
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
}
.carousel-content {
    font-family: 'Pacifico', cursive;
    color: deeppink;
    font-size: 35px;
    height: 60px;
}

#mycarousel {
    background-color: aquamarine;
}

#fbshp {
    font-size: 35px;
    font-family: 'Lobster Two', cursive;
}
p{
    font-size: 35px;
    font-family: 'Lobster Two', cursive;
}
